/* Boilerplate template from django-blog walkthrough tailored to suit. */

body {
    background-color: #F9FAFC;
    color: #04395e;
    font-family: "Martel Sans", sans-serif; /* added */
}

.brand {
    font-family: raleway, sans-serif; /* was Lora, serif */
    font-size: 1.4rem;
    font-weight: 500;
    color: white; /* was #E84610 */
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #04395e; /* was #445261 */
}

.main-bg {
    background-color: #BFD7EA; /* was #F9FAFC */
}

.card {
    border: none;
    background-color: white; /* was transparent */
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #04395e;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    font-family: "Martel", sans-serif;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #04395e; /* was #445261 */
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #04395e; /* was #445261 */
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #04395e; /* was #445261 */
}

.post-link:hover,
.page-link {
    color: #04395e; /* was #E84610 */
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #04395e; /* was #445261 */
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #04395e; /* was #fff */
    color: #eec701; /* was #23BBBB */
}

.link {
    color: #04395e; /* was ##23BBBB */
    text-decoration: none;
    font-weight: bold;
}

.link:hover,
.link:active {
    color: #04395e; /* was #445261 */
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.post-delete {
    color: #fff;
    background: #E84610;
}

.comment-delete {
    color: #fff;
    background: #E84610;
}

.comments {
    border: 1px solid #BFD7EA; /* Change the color as needed */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; /* Optional: to make the corners rounded */
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Custom styles for the blog app */

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: raleway, sans-serif;
}

.navbar-light .navbar-toggler-icon {
    color: white;
}

.dropshadow {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* was none */
}

.navbar-nav {
    flex-direction: row;
}

.board {
    background-color: white;
}

.summernote {
    width: 100%;
}

.navbar-light .navbar-nav .nav-link.active {
    color: white;
    font-weight: bold;
    font-family: raleway, sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    font-weight: bold;
    font-family: raleway, sans-serif;
}

.btn-edit {
    background-color: orange; /* was #445261 */
    color: black;
}

.btn-approve {
    background-color: green;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Martel", serif;
    font-weight: 700;
    font-style: normal;
}
